/* Layout */

.container {
  display: grid;
  grid-template-columns: 10em auto;
  grid-template-areas: "h h"
                       "n c"
                       "f f";
}
header {
  grid-area: h;
}
nav {
  grid-area: n;
}
article {
  grid-area: c;
}
footer {
  grid-area: f;
}


/* Decoration */


body {
	margin: 5px;
	font-family: "Century Gothic", helvetica, arial, sans-serif;
	font-size: 1em;
}

div, nav, section, article, aside, header, footer {
	padding: 10px;
	color: #fff;
}

nav {
	background: #6E6C95;
}

ul {
  list-style: none;
}

section {
	background: #D9C4D4;
}

article {
  background: #DAD6E3;
}

header {
  background: #ADD5D6;
}

footer {
  background: #814F76;
}



@media only screen and (min-width: 600px) {

  /* Hide toggle */
  .toggle {
    display: none;
  }

}

/* Media query for nav styles */
@media only screen and (max-width: 599px) {

    #nav {
      transition: transform .3s ease-in-out;
      top: 0;
      bottom: 0;   
      min-height: 100vh; /* override Safari bug */
      position: fixed; /* or choose `absolute` depending on desired behavior*/
      width: 300px;
      left: -340px;
    }

    #nav:target {     
      transform: translateX(340px);
    }

    .close {
      text-align: right;
      display: block;
      text-decoration: none;
      font-size: 3em;
      position: relative;
      top: -10px;
    }
    
    article {
      grid-column-start: span 2;
    }

}